public/
node_modules/
gin-bin
vendor
word-bot
*.test
*.out
*.pprof
ai-showdown
!ai-showdown/
*.db
*.csv
output
debug
test-harness
ai-showdown/learning/bin
ai-showdown/learning/lib
ai-showdown/learning/include
ai-showdown/learning/share
wordbot.h
wordbot.so
tags
objectdb
__pycache__
.~*
.ipynb_checkpoints/
pip-selfcheck.json